image-classification/cifar-10-batches-py/
*.zip
*.gz
*.p

transfer-learning/codes
transfer-learning/labels

embeddings/data/
embeddings/checkpoints/

tv-script-generation/save.*

seq2seq/best_model.*
